.beat-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 18px;
}

.currently-playing-preview {
    display: flex;
    justify-content: left;
    width: 400px;
    /*temp*/

    .song-title {
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-rows: 27.5px 27.5px;
        grid-template-areas:
            "pic artist"
            "pic song-name";
    }

    .thumbnail {
        grid-area: pic;
        width: 55px;
        height: 55px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
    }

    .pic {
        grid-area: pic;
        background-color: aqua;
        border-radius: 5px;
        height: 55px;
    }

    .artist {
        grid-area: artist;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 0.9rem;
        color: $clr1;
        letter-spacing: 0.5px;
        margin: 0 12px;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    .song-name {
        grid-area: song-name;
        color: $clr2;
        font-size: 0.7rem;
        font-weight: 300;
        margin: 0 12px;

    }
}

.player {
    display: flex;
    justify-content: center;
    flex: 1;

}

.toolbar {
    width: 400px;
    /*temp*/
    display: flex;
    justify-content: center;
}