.beat-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
  
    // @media screen and (max-width: 430px) {
    //     display: none;
    // }

}


.main-nav-links {
    color: $clr2;
    background-color: $clr3;
    border-radius: $border-radius;
    padding: 8px 12px;
    //narrow
    .txt {
        display: none;
    }
    @media (min-width: $normal-breakpoint) {
        .txt {
            display: block;
        }
    }

}