.beat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $clr3;
    border-radius: $border-radius $border-radius 0 0;
    padding: 16px;
    gap: 8px;

    .page-control {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $clr2;

        .page-control-img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $clr4;
        }
    }

    .search-area {
        flex: 1;
        display: flex;


        .search-form {
            display: flex;
            align-items: center;
            gap: 8px;
            padding-left: 8px;
            width: 364px;
            /*temp + adjust for screen size*/

            background-color: $clr5;
            border-radius: 500px;
            margin: -5px 0px;

            .search-icon {
                color: $clr2;
                width: 25px;
                height: 25px;
            }

            input {
                font-family: CircularSP, sans-serif;
                font-weight: 500;
                color: $clr2;
                background-color: inherit;
                border: none;
                width: 300px;

                &:focus {
                    outline: none;
                }

            }
        }
    }
}