.mobile-player {

    position: fixed;
    box-sizing: border-box;

    left: 0;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

    display: block; // Show Mobile Nav on mobile
    .youtube {
        display: none;
    }
    .player-bar {
        background-color: rgb(41, 116, 179);
        margin: 0 8px;
        padding: 8px 8px 0 8px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .currently-playing-preview {
            display: grid;
            grid-template-columns: 1fr 50px 40px;
            align-items: center;
            color: $clr1;
            margin-bottom: 4px;



            .song-title {
                display: grid;
                grid-template-columns: 40px 1fr;
                grid-template-rows: 20px 20px;
                grid-template-areas:
                    "pic song-name "
                    "pic artist ";
            }

            .thumbnail {
                grid-area: pic;
                width: 40px;
                height: 40px;
                margin: 0 4px 0 0;
                overflow: hidden;
                background-position: center;
                background-size: cover;
                border-radius: 5px;
            }

            .pic {
                grid-area: pic;
                border-radius: 5px;
                height: 55px;
            }

            .song-name {
                grid-area: song-name;
                color: $clr1;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                padding: 3px 10px 0 12px;

            }

            .artist {
                grid-area: artist;
                display: flex;
                align-items: center;
                font-weight: 400;
                color: $clr1;
                letter-spacing: 0.5px;
                @include limit-text-to-width;
                padding: 0px 10px 2px 12px;
            }

            .heart,
            .control {
                &.liked {
                    color: $clr8;
                }

                width: 28px;
                height: 28px;

            }

        }

        .MuiSlider-root {
            padding: 0px !important;
            margin: 0px !important;
        }
    }

    @include for-narrow-layout {
        display: none;
    }
}