.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
    font-weight:100;
    font-size: 0.8rem;
    color: $clr2;
    
    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
 

        .player-icon {
            height: 25px;
            width: 25px;
          
        }

        .play-icon {
            height: 35px;
            width: 35px;
            color: $clr1;
        }
    }

    .details {
      display: flex;
      align-items: center;
      
        .progress-bar {
            background-color: $clr2;
            width: 600px;
            height: 3px;
            margin: 0 10px;
           
            
        }
    }
}