.songs-search {

    .find-more {
        display: flex;
        align-items: right;
        justify-content: right;
        margin-right: 30px;
        cursor: pointer;
        padding: 30px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(211, 211, 211, 0.1); 
        .close {
            height: 40px;
            width: 40px;
            &:hover {
                cursor: pointer;
            }
        }

        .search-header {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-size: 1.4rem;
            font-weight: 700;
            padding: 24px 24px 5px 24px;
           

            .search-area {
                display: flex;
                align-items: center;
                width: 380px;

                input {
                    font-family: CircularSP, sans-serif;
                    font-weight: 500;
                    font-size: 0.95rem;
                    width: 380px;
                    height: 35px;
                    background-color: $clr10;
                    color: $clr2;
                    padding: 8px 32px 8px 12px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                .container {
                    display: flex;
                    align-items: center;
                    height: 35px;
                    background-color: $clr10;
                    padding: 5.5px;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;

                    .search-img {
                        box-sizing: border-box;

                        //background-color: $clr10;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }
}