.station-preview {
    height: auto;
   
    /* Remove fixed height */
    width: 100%;
    /* Make stations take up full width within their grid cell */
    position: relative;

    aspect-ratio: 1/1; //narrow

    @media (min-width: $normal-breakpoint) {
        aspect-ratio: 141/198;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: $clr6;
    }

    .station-info {
        display: flex;
        flex-direction: column;
        width: 83%;
        gap: 8px;
        @include limit-text-to-width;

        .station-card {
            width: 100%;
            /* Make the station-card 100% width */
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-color: $clr5;


            .station-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            .no-img {
                padding: 20%;
                width: 100%;
                height: 100%;

            }

        }


        .station-txt {
            display: none;

            @media (min-width: $normal-breakpoint) {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .station-name {
                    color: $clr1;
                    @include limit-text-to-width;
                    font-weight: 500;
                    font-size: 1rem;
                }

                .station-creator {
                    @include limit-text-to-width;
                    font-size: 0.9rem;

                }
            }
        }


    }

}