.station-preview {
    display: flex;
    justify-content: center;
    padding: 8%;
    border-radius: 8px;
    overflow: auto;

    transition: background-color 0.1s;

    /*library will be the default styling*/
    height: auto;
    width: 100%;
    position: relative;

    aspect-ratio: 1/1; //narrow

    @include for-normal-layout {
        aspect-ratio: 114/166;
    }



    .station-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;

        @include limit-text-to-width;

        .station-card {
            width: 100%;
            @include centered-flex;
            border-radius: 8px;
            background-color: $clr5;
            aspect-ratio: 1/1;
            overflow: hidden; // Ensures nothing spills outside the border-radius


            .station-img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
            }

            .no-img {
                padding: 20%;
                width: 100%;
                height: 100%;

            }

        }

        .station-txt {
            display: none;

            @include for-normal-layout {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .station-name {
                    color: rgb(240, 238, 238);

                    &.active-station {
                        color: $clr8;
                    }

                    @include limit-text-to-width;
                    font-weight: 500;
                    font-size: 1rem;
                }

                .station-creator {
                    @include limit-text-to-width;
                    font-size: 0.9rem;

                }
            }



        }

    }


    &.open-lib {
        aspect-ratio: 114/166;

        .station-info {
            .station-txt {

                display: flex;
                flex-direction: column;
                gap: 2px;

                .station-name {
                    color: rgb(240, 238, 238);

                    &.active-station {
                        color: $clr8;
                    }


                    @include limit-text-to-width;
                    font-weight: 500;
                    font-size: 1rem;
                }

                .station-creator {
                    @include limit-text-to-width;
                    font-size: 0.9rem;

                }
            }
        }
    }

    .play {
        display: none;
    }

    .pause {
        background-color: $clr8;
        position: absolute;
        top: 47%;
        right: -5%;
        transform: translate(-50%, -50%);
        background-color: $clr8;
        border-radius: 200px;
        height: 50px;
        width: 50px;
        padding: 10px 10px 10px 10px;
        color: black;
        cursor: pointer;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }

    @include hover-supported {
        cursor: pointer;
        background-color: $clr6;

        @keyframes slideUp {
            0% {
                top: 51%;
            }

            100% {
                top: 47%;
                /* Settle back to the final position */
            }
        }

        .play {
            display: block;
            background-color: $clr8;
            position: absolute;
            top: 47%;
            right: -5%;
            transform: translate(-50%, -50%);
            background-color: $clr8;
            border-radius: 200px;
            height: 50px;
            width: 50px;
            padding: 10px 10px 10px 16px;
            color: black;
            cursor: pointer;
            animation: slideUp 0.25s ease-out forwards;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

        }



    }


    &.category {
        aspect-ratio: 150/220;
        margin-top: 10px;

        @include for-normal-layout {

            aspect-ratio: 150/220;
        }



        &:hover {
            background-color: $clr11;
        }

        .station-info {
            gap: 18px;

            .station-txt {
                display: block;
                
                .station-description {
                    display: none;

                    @include for-narrow-layout {
                        white-space: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        font-size: 0.9rem;
                        color: $clr9;

                        a {
                            color: $clr9;
                        }
                    }


                }


            }
        }

        .play,
        .pause {
            display: none;
        }

    }



    &.homepage {

        flex: 0 0 auto;
        /* Prevent items from growing or shrinking */
        min-width: 152px;
        /* Minimum width for each item, adjust as needed */
        aspect-ratio: 168/222;
        padding: 8px;

        .station-info {


            .station-txt {
                display: block;

                .station-name {
                    color: rgb(240, 238, 238);
                    //font-family: CircularSP;
                    font-size: 0.95rem;
                    font-weight: 400;
                    @include limit-text-to-width;
                }

                .station-creator {
                    display: none;
                }
            }
        }


        @include for-narrow-layout {
            padding: 8%;
            height: 60px;
            min-width: auto;
            background-color: $clr5;
            padding: 0;
            border-radius: 4px;

            &:hover {
                background-color: $clr7;
            }

            .station-info {

                flex-direction: row;
                width: 100%;
                gap: 8px;

                @include limit-text-to-width;

                .station-card {
                    aspect-ratio: 1/1;

                    @include for-narrow-layout {
                        width: auto;

                        height: 100%; // Ensures it fills the .station-image
                        border-radius: 4px 0 0 4px;
                        background-color: $clr5;
                        overflow: hidden; // Ensures nothing spills outside the border-radius

                        .station-img {
                            border-radius: 4px 0 0 4px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                }

                .station-txt {
                    @include for-narrow-layout {
                        @include centered-flex;
                    }

                    .station-name {
                        color: rgb(240, 238, 238);
                        font-weight: 700;
                        font-size: 1rem;
                        letter-spacing: 0.2px;

                        &.active-station {
                            color: inherit;
                        }

                    }

                    .station-creator,
                    .station-description {
                        display: none;
                        display: none;
                    }
                }

            }
        }

        .play,
        .pause {
            background-color: $clr8;
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%);
            height: 30px;
            width: 30px;
            padding: 4px 4px 4px 7px;
            color: black;
            cursor: pointer;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
        }



    }


}