.user-msg {
    color:white;
    padding: 13px;
    font-size: 0.9rem;
    font-weight: 500;
    position: fixed;
    bottom: 100px; /* Position at the bottom of the screen */
    left: 50%; /* Start at the middle of the screen */
    transform: translateX(-50%); /* Adjust position to truly center based on element's width */
    background-color: grey;
    z-index: 200;
    border-radius: 8px;
    color: black;
}

.user-msg.success {
    background-color: $clr1
}
.user-msg.error {
    background-color: rgb(216, 59, 59);
}
