// Font Sizes
.fs11 { font-size: rem(11px); }
.fs12 { font-size: rem(12px); }
.fs13 { font-size: rem(13px); }
.fs14 { font-size: rem(14px); }
.fs15 { font-size: rem(15px); }
.fs16 { font-size: rem(16px); }
.fs18 { font-size: rem(18px); }
.fs20 { font-size: rem(20px); }
.fs24 { font-size: rem(24px); }
.fs25 { font-size: rem(25px); }
.fs28 { font-size: rem(28px); }
.fs30 { font-size: rem(30px); }
.fs32 { font-size: rem(32px); }
.fs40 { font-size: rem(40px); }
.fs48 { font-size: rem(48px); }
.fs50 {font-size: rem(50px); }
.fs4rem {font-size: 4rem; letter-spacing: -2px;}
.fs5rem {font-size: 5rem; letter-spacing: -1px;}
.fs6rem {font-size: 6rem; letter-spacing: -2px; }
.fw700 {font-weight: 700;}
.fw400 {font-weight: 400;}
.ls-2 {letter-spacing: -2px;}
.ls-1 {letter-spacing: -1px;}
.ls1 {letter-spacing: 0.5px;}
.fclr9 {color: $clr9;}
.simple-hover {@include pointer-on-hover;}
// flex helpers

.flex {

    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}


/*don't display on mobile view*/
.not-for-mobile{
    display: none;
    @include for-narrow-layout {
        display: block;
    }
}

.mobile-display {
    display: block;
    @include for-narrow-layout {
        display: none;
    }
}

.normal-display {
    display: none;
    @include for-narrow-layout {
        display: block;
    }
}

.page-center {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.flex {
    display:flex;
}