// Font Sizes
.fs11 { font-size: rem(11px); }
.fs12 { font-size: rem(12px); }
.fs14 { font-size: rem(14px); }
.fs15 { font-size: rem(15px); }
.fs18 { font-size: rem(18px); }
.fs20 { font-size: rem(20px); }
.fs24 { font-size: rem(24px); }
.fs28 { font-size: rem(28px); }
.fs30 { font-size: rem(30px); }
.fs50 {font-size: rem(30px); }
.fs4rem {font-size: 4rem; letter-spacing: -2px;}
.fs6rem {font-size: 6rem; letter-spacing: -4px; }

// flex helpers

.flex {

    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
}


// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}


/*don't display on mobile view*/
.dynamic-display{
    display: none;
    @include for-narrow-layout {
        display: block;
    }
}

.mobile-display {
    display: block;
    @include for-narrow-layout {
        display: none;
    }
}

.normal-display {
    display: none;
    @include for-narrow-layout {
        display: block;
    }
}