.main-container {
    display: grid;
    height: 100vh;
    min-width: $mobile-breakpoint;
    background-color: black;
    gap: 8px;
    padding:8px;
    color: aliceblue;

   
    > * {
        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: 0.5fr 1fr;
        // minmax(100px, 1fr) minmax(auto, $normal-breakpoint);
        grid-template-rows: 1fr 72px;
        grid-template-areas:
            "nav main"
            "footer footer";
    }

    @include for-normal-layout {
        grid-template-columns: 0.4fr 1fr;
        // minmax(100px, 1fr) minmax(auto, $normal-breakpoint);
        grid-template-rows: 1fr 72px;
        grid-template-areas:
            "nav main"
            "footer footer";
    }

    @include for-wide-layout {
        grid-template-columns: 0.35fr 1fr;
        // minmax(100px, 1fr) minmax(auto, $normal-breakpoint);
        grid-template-rows: 1fr 72px;
        grid-template-areas:
            "nav main"
            "footer footer";

    }

    .nav {
        grid-area: nav;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }
}