.home-page {


    .main-content {
        display:flex;
        justify-content: space-between;
        padding: 30px 12px;
        font-size: 1.5rem;
        font-weight: 700;

        @include for-narrow-layout {
            padding: 0 em(17px) em(17px) 17px;
        }
    }

    .stations-area {

        margin-bottom: 0;
        padding: 12px 12px 20px 12px;

        .my-stations {
            display: flex;
            /* Change display from grid to flex */
            overflow-x: auto;
            /* Enable horizontal scrolling */

            /* Optional: Hide scrollbar for a cleaner look */
            scrollbar-width: none;

            /* For Firefox */
            &::-webkit-scrollbar {
                display: none;
                /* For Chrome, Safari, and Opera */
            }

            @include for-narrow-layout {
                display: grid;
                grid-template-columns: repeat(3, minmax(150px, auto));
                grid-template-rows: 60px;
                gap: 10px;

            }

            @include for-wide-layout {
                display: grid;
                grid-template-columns: repeat(4, minmax(150px, auto));
                //grid-template-rows: 64px;
                gap: 10px;

            }
        }
    }



    .suggested-area {

        margin-bottom: 0;
        padding: 0px 12px 0px 12px;

        @include for-narrow-layout {
            padding: 12px 12px 0px 12px;
        }

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 10px 15px 0 15px;

        }


        .stations {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(130px, auto));
            max-height: 100%;


            @include for-narrow-layout {
                grid-template-columns: repeat(auto-fill, minmax(170px, auto));
                gap: 24px;

            }

            @include for-normal-layout {
                grid-template-columns: repeat(auto-fill, minmax(170px, auto));
                gap: 0px;

            }
        }
    }
}