.login-signup {
    background-color: black;
    height: 100vh;
    color: $clr1;

    .login-signup-header {
        display: none;

        @include for-narrow-layout {
            display: flex;
            align-items: center;
            padding: 30px;

            img {
                height: 37px;
                width: 37px;
                border-radius: 50px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .login-signup-container {
        padding: 32px;
        height: 90vh;
        display: flex;
        //align-items: center;
        justify-content: center;

        @include for-narrow-layout {
            background-color: $clr5;
        }

        padding: 32px;

        .page-control {
            position: fixed;
            top: 15px;
            left: 10px;
            color: $clr1;
    
            .page-control-img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
               
            }
    
            @include for-narrow-layout {
                display: none;
            }
        }

        .login {
            box-sizing: border-box;
            width: 910px;
            display: flex;
            align-items: center;

            flex-direction: column;
            background-color: #000;
            border-radius: 8px;
            padding: 32px 0px;

            .login-header {
                margin: 48px 0px;

            }

            .login-form {
                label {
                    font-size: 0.9rem;
                    font-weight: 700;
                    padding-bottom: 12px;
                    letter-spacing: 0.5px;
                }



                input {
                    border: 0.1px solid $clr2;
                    border-radius: 4px;
                    background: #000;
                    color: $clr2;
                    margin-top: 5px;
                    padding: 8px 14px;
                    line-height: 28px;
                    width: 324px;

                    &:hover {
                        border: 2px solid $clr1;
                    }

                    &:focus {
                        border: none;
                    }



                }

                .btn-login {
                    color: black;
                    background-color: $clr8;
                    border-radius: 50px;
                    padding: 8px 32px;
                    height: 48px;
                    width: 324px;
                    margin: 15px 0;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        /* Increase the button size by 10% on hover */
                    }
                }
            }
        }
    }
}