.search-page {
    position: relative;
    padding: em(16px);
    @media (min-width: $narrow-breakpoint) {
        padding: em(15px) em(15px);
    }

    .search-header {
        h1 {
            margin: 32px 0 16px 0;
        }

        .search-area {
            position: relative;
            display: flex;
            align-content: flex-start;
            position: relative;
            justify-content: center;
            align-items: center;

            .search-img {
                overflow-x: hidden;
                overflow-y: hidden;
                position: absolute;
                height: 16px;
                color: black;
                left: 10px;
                top: 50%;
                transform: translateY(-50%)
            }


            input {
                width: 100%;
                padding: 12px 40px;
                border-radius: 4px;
                border-style: none;
                box-sizing: border-box;
                font-size: 1rem;
                font-family: CircularSP, sans-serif;
                font-weight: 400;

            }


        }
    }

    .main-content {
        //padding: em(15px) em(15px);
    }
}