.signup-page {
    background-color: black;
    height: 100vh;
    color: $clr1;

    .signup-header {
        display: flex;
        align-items: center;
        padding: 30px;

        img {
            height: 37px;
            width: 37px;
            border-radius: 50px;
        }
    }

    .signup-container {
        padding: 32px;
        height: 90vh;
        display: flex;
        justify-content: center;
        background-color: $clr5;
        padding: 32px;

        .signup {
            box-sizing: border-box;
            width: 910px;
            display: flex;
            align-items: center;

            flex-direction: column;
            background-color: #000;
            border-radius: 8px;
            padding: 32px 0px;


            //------
            .user-img {
                cursor: pointer;

                input {
                    display: none;
                }

                border-radius: 100px;
                aspect-ratio: 1/1;

                .img-container {
                    width: 100px; // Ensures it fills the .station-image
                    height: 100px; // Ensures it fills the .station-image
                    display: flex; // This and the next two lines center the image
                    justify-content: center;
                    align-items: center;
                    overflow: hidden; // Ensures nothing spills outside the border-radius
                    border-radius: 100px;

                    .user-img {
                        width: 100%;
                        height: 100%;
                        border-radius: 100px;
                        object-fit: cover;
                    }
                    .no-user-img {
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        padding: 20%;
                        padding-right:8px;
                        background-color: $bgclr1;
                        color: $clr2;
                       

                    }
                }

                .img-loading {
                    cursor: auto;
                }


            }

            //--------------------

















            .signup-header {}

            .signup-form {
                label {
                    font-size: 0.9rem;
                    font-weight: 700;
                    padding-bottom: 12px;
                    letter-spacing: 0.5px;
                }



                input {
                    border: 0.1px solid $clr2;
                    border-radius: 4px;
                    background: #000;
                    color: $clr2;
                    margin-top: 5px;
                    padding: 8px 14px;
                    line-height: 28px;
                    width: 324px;

                    &:hover {
                        border: 2px solid $clr1;
                    }

                    &:focus {
                        border: none;
                    }
                }

                .btn-login {
                    color: black;
                    background-color: $clr8;
                    border-radius: 50px;
                    padding: 8px 32px;
                    height: 48px;
                    width: 324px;
                    margin: 15px 0;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                        /* Increase the button size by 10% on hover */
                    }
                }
            }
        }
    }
}