.station-details {
    background-color: $clr3;
    border-radius: 0 0 $border-radius $border-radius;
    padding: em(5px);

    @include for-narrow-layout {
        padding: 0px;
    }

    .station-header {
        display: flex;
        padding: em(72px) em(16px) em(16px) em(16px);

        @include for-narrow-layout {
            padding: em(15px) em(25px) em(25px) em(25px);
        }

        gap: 20px;
        flex-direction: column;
        align-items: left;

        @include for-narrow-layout {
            flex-direction: row;
            align-items: center;
        }

        .station-pic {
            display: flex;
            justify-content: center;
            border-radius: 5px;

            @include for-narrow-layout {
                justify-content: left;
            }


            .station-img {
                width: 172px;

                @include for-narrow-layout {
                    width: 12vw;
                    min-width: 140px;
                }

                border-radius: 4px;
            }

            .station-no-img {
                box-sizing: border-box;
                width: em(172px);
                height: em(172px);
                padding: em(50px);

                @include for-narrow-layout {

                    width: em(232px);
                    height: em(232px);
                    padding: em(70px);
                }



                background-color: $clr5;
                color: $clr2;
                border-radius: 4px;
            }

        }

        .header-details {
            display: flex;
            flex-direction: column;
            justify-content: end;
            font-size: 0.95rem;
            letter-spacing: 1px;

            .name {
                font-weight: 900;
                //letter-spacing: 0px;
                //font-size: 32px;

                // @include for-narrow-layout {
                //     font-size: 52px;
                // }

                // @include for-normal-layout {
                //     font-size: 96px;
                // }

                @include limit-text-to-two-lines;



            }

        }


    }

}

.can-edit {
    cursor: pointer;
}



.gradient-bg {
    border-radius: 0 0 5px 5px;

    .station-control {
        display: flex;
        gap: 30px;
        align-items: center;
        margin: 0 16px;
        padding: em(15px) em(15px) 0 em(15px);

        .play {
            background-color: $clr8;
            border-radius: 200px;
            height: 60px;
            width: 60px;
            padding: 17px 17px 17px 20px;
            color: black;
            cursor: pointer;
        }

        .pause {
            background-color: $clr8;
            border-radius: 200px;
            height: 60px;
            width: 60px;
            padding: 15px 15px 15px 15px;
            color: black;
            cursor: pointer;
        }

        .like {
            height: 40px;
            width: 40px;
            color: $clr2;
        }

        .more {
            height: 20px;
            width: 20px;
            color: $clr2;

            @include hover-supported {
                cursor: pointer;
            }
        }

        height:100px;
    }
}







.songs {
    @include for-narrow-layout {
        padding: 1px 25px 15px 25px;
    }

    color: $clr9;
    font-weight: 300;
    font-size: 0.95rem;
}

.empty-space {
    height: 300px;
}

.find-more {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 30px;
    cursor: pointer;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(211, 211, 211, 0.1);
    margin: em(15px) em(15px);

    .close {
        height: 40px;
        width: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    .search-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 24px 24px 5px 10px;


        .search-area {
            display: flex;
            align-items: center;
            width: 380px;

            input {
                font-weight: 400;
                width: 380px;
                height: 35px;
                background-color: $clr10;
                color: $clr9;
                padding: 8px 32px 8px 12px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border: none;

                &::placeholder {
                    font-weight: 400;
                    color: $clr9;
                }

                &:focus {
                    outline: none;
                }
            }

            .container {
                display: flex;
                align-items: center;
                height: 35px;
                background-color: $clr10;
                padding: 5.5px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                .search-img {
                    box-sizing: border-box;

                    //background-color: $clr10;

                    @include hover-supported {
                        cursor: pointer;
                    }
                }
            }

        }
    }
}