.your-library {
    background-color: $clr3;
    color: $clr2;
    border-radius: $border-radius;

    height: calc(100vh - 205px);
    padding: 3px;

    @media (min-width: $normal-breakpoint) {
        height: calc(100vh - 226px);
        padding: 8px 0px 0px 12px;

    }

    .lib-header {
 
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        

        padding:10px 30px 0 0;

        
        justify-content: center;
        .txt { 
            display: none;
        }

        @media (min-width: $normal-breakpoint) {
            justify-content: space-between;
            .txt {
                display: block;
            }
          
        }


        //narrow
        .controls {
            display: none;
        }

        @media (min-width: $normal-breakpoint) {
            .controls {
                display: block;

                .add-icon {
                    height: 30px;
                    width: 30px;
                    padding: 3px;
                    margin: 0 4px;

                    &:hover {
                        background-color: $clr5;
                        color: $clr1;
                        border-radius: 500px;
                        cursor: pointer;
                    }
                }
            }
        }


    }

    .stations-area {

        margin-bottom: 0;
        padding-right: 12px;
        height: calc(100vh - 273px);
        border-bottom: 8px;
        @include add-scroll-bar(6px);
        @media (min-width:$normal-breakpoint) {
            @include add-scroll-bar;

        }

        .stations {
            display: grid;
            grid-template-columns: repeat(auto-fill, 65px);
            max-height: 100%;

            @media (min-width: $normal-breakpoint) {
                grid-template-columns: repeat(auto-fill, minmax(105px, auto));

            }
        }
    }

}