@font-face {
    font-family: CircularSP;
    src: url('/fonts/Circular/CircularStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: CircularSP;
    src: url('/fonts/Circular/CircularStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: CircularSP;
    src: url('/fonts/circular/CircularStd-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: CircularSP;
    src: url('/fonts/Circular/CircularStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: CircularSP;
    src: url('/fonts/Circular/CircularStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

