@font-face {
    font-family: CircularSP;
    src: url(fonts/circular/CircularStd-Black.otf) format('opentype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: CircularSP;
    src: url(fonts/circular/CircularStd-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: CircularSP;
    src: url(fonts/circular/CircularStd-Book.otf) format('opentype');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: CircularSP;
    src: url(fonts/circular/CircularStd-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: CircularSP;
    src: url(fonts/circular/CircularStd-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

